<ul>
    <li><a href="{{ url('acme_demo_twig_assetversion') }}">Assets Versioning</a></li>
    <li><a href="{{ url('acme_demo_twig_concat') }}">Conctatenation</a></li>
    <li><a href="{{ url('acme_demo_twig_urlbuilder') }}">URL generation</a></li>
    <li><a href="{{ url('acme_demo_twig_internalcontrollerdemo') }}">Render, ESI, AJAX</a></li>
    <li><a href="{{ url('acme_demo_twig_defaultfilter') }}">Filter "default"</a></li>
    <li><a href="{{ url('acme_demo_twig_loops') }}">Loop, cycle, odd</a></li>
    <li><a href="{{ url('acme_demo_twig_includewith') }}">Include with ... only</a></li>
    <li><a href="{{ url('acme_demo_twig_objectgetter') }}">Accessing object</a></li>
    <li><a href="{{ url('acme_demo_twig_macro') }}">Macro</a></li>
    <li><a href="{{ url('acme_demo_twig_globalvariables') }}">Global Variables</a></li>
    <li><a href="{{ url('acme_demo_twig_dump') }}">dump()</a></li>
</ul>